/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

/* CSS variables */
:root{
    --navbar-height: 59px;
}

/* Navigation bar */
#navbar{
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
} 

/* Navigation bar: Logo and Image */ 
#logo{
    margin: 29px -28px;
}

#logo img{
    margin: -31px 37px;
    height: 75px;
    width: 75px;
}

/* Navigation bar: List Styling */ 
#navbar ul{
    display: flex;
}

#navbar::before{
    content: "";
    background-color: rgb(8, 3, 73);
    background-image: linear-gradient(to bottom right, rgb(8, 3, 73), rgb(79, 68, 224));
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: rgb(219, 226, 241);
    display: block;
    padding: 7px 12px;
    border-radius: 10px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: blue;
    background-color: rgb(238, 163, 163);
    cursor: pointer;
}

/* Section news */
 
#newsAccToPerson{
    margin-top: 80px;
}

#newsAccToPerson h2{
    color: rgb(8, 3, 73);
}
#newsAccToPerson ul{
    display: flex;
}

#newsAccToPerson ul.icons li {
    background-color: rgb(8, 3, 73);
    margin-left: 7px;
    list-style: none;
    padding: 72px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: 5px solid rgb(43, 30, 228);
    color: white;
    /* Background image and its opacity */
}



#newsAccToPerson ul.icons li.google{
    background: url("img/google_128.png") no-repeat center;
}

#newsAccToPerson ul.icons li.google{
    background: url("img/google_128.png") no-repeat center;
}

#newsAccToPerson ul.icons li.cred{
    background: url("img/cred_160.png") no-repeat center;
}

#newsAccToPerson ul.icons li.adobe{
    background: url("img/adobe.png") no-repeat center;
}

#newsAccToPerson ul.icons li.zomato{
    background: url("img/zomato_170.jpg") no-repeat center;
}

#newsAccToPerson ul.icons li.swiggy{
    background: url("img/swiggy_128.png") no-repeat center;
}

#newsAccToPerson ul.icons li.hotstar{
    background: url("img/hotstar_240_190.jpg") no-repeat center;
}

#newsAccToPerson ul.icons li.netflix{
    background: url("img/netflix_160.png") no-repeat center;
}

#newsAccToPerson ul.icons li.facebook{
    background: url("img/facebook_183.png") no-repeat center;
}

#newsAccToPerson ul.icons li.microsoft{
    background: url("img/microsoft_180.png") no-repeat center;
}

#newsAccToPerson ul.icons li.linkedin{
    background: url("img/linkedin_135.png") no-repeat center;
}


#newspapers{
    margin-top: 40px;
}

#newspapers h2{
    color: rgb(8, 3, 73);
}
#newspapers ul{
    display: flex;
}

#newspapers ul.icons li {
    background-color: rgb(8, 3, 73);
    margin-left: 7px;
    list-style: none;
    padding: 72px;
    height: 8px;
    width: 8px;
    border-radius: 20%;
    border: 5px solid rgb(7, 134, 219);
    color: white;
    /* Background image and its opacity */
}

#newspapers ul.icons li.theHindu{
    background: url("img1/theHindu_150.jpg") no-repeat center;
}

#newspapers ul.icons li.timesOfIndia{
    background: url("img1/timesOfIndia_160_150.jpg") no-repeat center;
}

#newspapers ul.icons li.hindustanTimes{
    background: url("img1/hindustanTimes_165_150.png") no-repeat center;
}

#newspapers ul.icons li.theEconomicsTimes{
    background: url("img1/theEconomicTimes_140.png") no-repeat center;
}

#newspapers ul.icons li.delhiTimes{
    background: url("img1/delhiTimes_145_160.jpg") no-repeat center;
}

#newspapers ul.icons li.ndtv{
    background: url("img1/ndtv_155.png") no-repeat center;
}

#newspapers ul.icons li.businessStandard{
    background: url("img1/businessStandard_150.png") no-repeat center;
}

#newspapers ul.icons li.news18{
    background: url("img1/news18_150.png") no-repeat center;
}

#newspapers ul.icons li.wion{
    background: url("img1/wion.jpg") no-repeat center;
}

#newspapers ul.icons li.theGuardian{
    background: url("img1/theGuardian_160.png") no-repeat center;
}